.feed {
	padding-bottom: 50px;
	&-item {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		&__img {
			width: 170px;
			height: 170px;
			margin-right: 60px;
		}
		&__text {
			padding-right: 60px;
		}
		&__name {
			font-weight: 700;
			font-size: 18px;
			line-height: 18px;
			color: #0D0D0D;
		}
		&__subtitle {
			font-weight: 500;
			font-size: 14px;
			color: #646464;
		}
		&__descr {
			margin-top: 10px;
			font-weight: 300;
			font-size: 16px;
			color: #0D0D0D;
		}
	}
}